<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>{% block title %} ここはbaseです。 {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <header style="height: 60px; background-color: purple;"></header>
    <a href="{{ url_for('public_index') }}">indexページへ</a>
    <a href="{{ url_for('public_info') }}">infoページへ</a>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer style="height: 60px; background-color: purple;"></footer>
</body>

</html>